1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [123]:
def add(a,b):
   return a+b

In [124]:
def sub(a,b):
    return b-a

In [125]:
def myreduce(func,lst):
    res=lst[0]  
    for i in lst[1:]:
       res=func(res,i)
    return res

In [157]:
lst1=[1,2,3,4,5]
print(myreduce(add,lst1))

15

In [158]:
myreduce(sub,lst1)

3

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [131]:
list(filter(lambda x:x>10,[1,2,3,90,89,78,66,42]))

[90, 89, 78, 66, 42]

In [132]:
greater_than_10=lambda x:x>10

In [133]:
lst=[1,2,3,90,89,78,66,42]

def myfilter(func,lst):
    res=[]
    for i in lst:
        if func(i):
            res.append(i)
    
    return res

myfilter(greater_than_10,lst)

[90, 89, 78, 66, 42]

In [134]:
smaller_than_10=lambda x:x<10

In [135]:
myfilter(smaller_than_10,lst)

[1, 2, 3]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists



============>  ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] <============

In [141]:
lst1=['x','y','z']

In [142]:
# Demonstration by using normal for loop
lst3=[]
for i in lst1:
    for j in range(1,5):   
       lst3.append(i*j)
print(lst3)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [143]:
[i*j for i in lst1 for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

============> ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz'] <============

In [144]:
lst1

['x', 'y', 'z']

In [147]:
# Demonstration by using normal for loop
result=[]
for num in range(1,5):
    for item in lst1:
        result.append(item*num)

result

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [151]:

result = [ item*num for num in range(1,5) for item in lst1  ]
result

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

============> [[2], [3], [4], [3], [4], [5], [4], [5], [6]] <============

In [149]:
input_list=[2,3,4]

In [152]:
# Demonstration by using normal for loop
res=[]
for item in input_list:
    for num in range(0,3):
        res.append([item+num])
res

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [153]:
[ [item+num] for item in input_list for num in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

============>  [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]  <============

In [154]:
input_list=[2,3,4,5]
[[item +num for item in input_list] for num in range(0,4)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

============> [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)] <============

In [156]:
input_list=[1,2,3]
[ (x,y) for x in input_list for y in input_list]

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]